form
{
    background-color: var(--lighter-gray);
    padding: 25px;
    border-radius: 8px;
    width: fit-content;
    margin: auto;
}

.d-flex
{
    flex-direction: column;
    align-items: center;
}

fieldset
{
    margin: 10px;
}

fieldset label
{
    width: 175px;
}

fieldset input
{
    width: 160px;
}

.buttons-area
{
    display: flex;
    justify-content: center;
    width: 100%;
}

.buttons-area .btn
{
    margin: 10px;
}