.holidays-table
{
    max-width: 750px;
    margin: auto;
}

.add-holiday
{
    display: flex;
    justify-content: center;
    padding: 10px 5px;
    background-color: var(--table-decoration);
    border-radius: 12px 12px 0 0;
    margin: auto;
}

#holiday th, #holiday td
{
    padding: 8px;
    text-align: center;
    border: 1px solid #ddd;
    width: 250px;
    min-width: 120px;
}

#holiday thead th
{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

#holiday tbody tr:nth-child(even)
{
    background-color: var(--even-line);
}

#holiday tbody tr th a
{
    color: var(--blue-orif);
    font-weight: 500;
    text-decoration: none;
}

#holiday tbody tr th a:hover
{
    color: var(--blue-orif);
    text-decoration: underline;
}

.table-bottom
{
    background-color: var(--table-decoration);
    border-radius: 0 0 5px 5px;
    width: 100%;
    height: 30px;
    margin: auto;
}

/* ****************************************************** */

/*
** Holiday form
*/
#holiday form
{
    background-color: var(--lighter-gray);
    padding: 25px;
    border-radius: 8px;
    width: fit-content;
    margin: auto;
}

.form-fields
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#holiday label
{
    width: 175px;
}

#holiday input
{
    width: 160px;
}

.buttons-area
{
    display: flex;
    justify-content: center;
    width: 100%;
}

.buttons-area .btn
{
    margin: 2px 6px;
}

.form-field-error
{
    max-width: 320px;
    width: fit-content;
    font-size: 0.9em;
    border-left: 5px solid var(--red);
    padding: 0 7px;
}

/* ****************************************************** */

@media screen and (max-width: 525px)
{
    #holiday form
    {
        width: 94%;
    }

    .form-fields
    {
        align-items: normal;
    }

    #holiday fieldset
    {
        display: flex;
        flex-direction: column;
    }

    #holiday label, #holiday input, .form-field-error
    {
        width: 100%;
    }

    .form-field-error
    {
        margin-top: 8px;
    }
}