table
{
    width: 870px;
    margin: auto;
}

th, td
{
    padding: 8px;
    text-align: center;
    border: 1px solid var(--light-gray);
}

thead tr:nth-child(1) th {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

label
{
    display: flex;
    cursor: pointer;
    font-weight: 500;
    position: relative;
    overflow: hidden;
    margin-bottom: 0.375em;
}

label input
{
    position: absolute;
    left: -9999px;
}

label input:checked+span.present
{
    background-color: var(--green);
    color: var(--white);
}

label input:checked+span.present:before
{
    box-shadow: inset 0 0 0 0.4375em var(--dark-green);
}

label input:checked+span.partly-absent
{
    background-color: var(--orange);
    color: var(--white);
}

label input:checked+span.partly-absent:before
{
    box-shadow: inset 0 0 0 0.4375em var(--dark-orange);
}

label input:checked+span.absent
{
    background-color: var(--red);
    color: var(--white);
}

label input:checked+span.absent:before
{
    box-shadow: inset 0 0 0 0.4375em var(--dark-red);
}

label span
{
    display: flex;
    align-items: center;
    padding: 0.375em 0.75em 0.375em 0.375em;
    border-radius: 12px;
    transition: 0.25s ease;
    color: var(--blue-orif);
}

label span:hover
{
    background-color: var(--light-blue-orif);
}

label span:before
{
    display: flex;
    flex-shrink: 0;
    content: "";
    background-color: var(--white);
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    margin-right: 0.375em;
    transition: 0.25s ease;
    box-shadow: inset 0 0 0 0.125em var(--dark-blue-orif);
}

form
{
    margin-bottom: 150px;
}

.action-menu
{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 5%;
    width: fit-content;
    background-color: var(--roles);
    margin: auto;
    padding: 15px;
    border-radius: 5px;
}

.action-menu *
{
    margin: 0 8px;
}

@media screen and (max-width: 550px) 
{
    /*
     * Keep the day visible on small screens
     *
     */
    th[colspan="4"]    
    {
        text-indent: -50%;
    }
}