/* *************************************************************** */

/* Regular button */
.btn, .btn:disabled:hover, .btn:disabled:active, .btn:disabled:focus
{
    background-color: var(--blue-orif);
    border: 1px solid var(--blue-orif);
    color: var(--white);
}

.btn:hover
{
    background-color: var(--light-blue-orif);
    color: var(--dark-blue-orif);
}

.btn:active, .btn:focus
{
    box-shadow: 0px 0px 1px 3px var(--dark-blue-orif);
}

.btn:disabled
{
    box-shadow: none;
    opacity: 33%;
    cursor: not-allowed;
}

/* Icons formatting */
.btn::before, .btn::after
{
    font: var(--fa-font-solid);
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

/* Spacing between the icon and text
**
** Cannot be put on the icon directly because some
** buttons only contains the icon, and the icon won't
** be centered in the button.
*/
.btn span
{
    padding: 0 0 0 5px;
}

/* *************************************************************** */

/* Add button */
.btn-add
{
    background-color: var(--lime);
    border-color: var(--lime);
    color: var(--white);
}

.btn-add:hover
{
    background-color: var(--light-green);
    color: var(--lime);
}

.btn-add:active, .btn-add:focus
{
    box-shadow: 0px 0px 1px 3px var(--lime);
}

.btn-add::before
{
    content: "\2b"; /* https://fontawesome.com/icons/plus?f=classic&s=solid */
}

/* *************************************************************** */

/* Edit button */
.btn-edit, .btn-edit:disabled:hover, .btn-edit:disabled:active, .btn-edit:disabled:focus
{
    background-color: var(--orange);
    border-color: var(--orange);
    color: var(--white);
}

.btn-edit:hover
{
    background-color: var(--light-orange);
    color: var(--orange);
}

.btn-edit:active, .btn-edit:focus
{
    box-shadow: 0px 0px 1px 3px var(--orange);
}

.btn-edit::before
{
    content: "\f303"; /* https://fontawesome.com/icons/pencil?f=classic&s=light */
}

/* *************************************************************** */

/* Delete button */
.btn-delete
{
    background-color: var(--red);
    border-color: var(--red);
    color: var(--white);
}

.btn-delete:hover
{
    background-color: var(--light-red);
    color: var(--dark-red);
}

.btn-delete:active, .btn-delete:focus
{
    box-shadow: 0px 0px 1px 3px var(--dark-red);
}

.btn-delete::before
{
    content: "\f2ed"; /* https://fontawesome.com/icons/trash-can?f=classic&s=solid */
}

/* *************************************************************** */

/* Save button */
.btn-save
{
    background-color: var(--green);
    border-color: var(--green);
    color: var(--white);
}

.btn-save:hover
{
    background-color: var(--lime);
    color: var(--dark-green);
}

.btn-save:active, .btn-save:focus
{
    box-shadow: 0px 0px 1px 3px var(--dark-green);
}

.btn-save::before
{
    content: "\f0c7"; /* https://fontawesome.com/icons/floppy-disk?f=classic&s=solid */
}

/* *************************************************************** */

/* Reset button */
.btn-reset
{
    background-color: var(--yellow);
    border-color: var(--yellow);
    color: var(--black);
}

.btn-reset:hover
{
    background-color: var(--light-yellow);
    color: var(--dark-yellow);
}

.btn-reset:active, .btn-reset:focus
{
    box-shadow: 0px 0px 1px 3px var(--dark-yellow);
}

.btn-reset::before
{
    content: "\f01e"; /* https://fontawesome.com/icons/arrow-rotate-right?f=classic&s=solid */
}

/* *************************************************************** */

/* Presences buttons */

.btn-present
{
    background-color: var(--present);
    border-color: var(--present);
    color: var(--black);
}

.btn-present:hover, .btn-partly-absent:hover, .btn-absent:hover
{
    background-color: var(--white);
    color: var(--black);
}

.btn-present:active, .btn-present:focus
{
    box-shadow: 0px 0px 1px 3px var(--present);
}

.btn-present::before
{
    content: "\f271"; /* https://fontawesome.com/icons/calendar-plus?f=classic&s=solid */
}

.btn-partly-absent
{
    background-color: var(--partly-absent);
    border-color: var(--partly-absent);
    color: var(--black);
}

.btn-partly-absent:active, .btn-partly-absent:focus
{
    box-shadow: 0px 0px 1px 3px var(--partly-absent);
}

.btn-partly-absent::before
{
    content: "\f042"; /* https://fontawesome.com/icons/circle-half-stroke?f=classic&s=solid */
}

.btn-absent
{
    background-color: var(--absent);
    border-color: var(--absent);
    color: var(--black);
}

.btn-absent:active, .btn-absent:focus
{
    box-shadow: 0px 0px 1px 3px var(--absent);
}

.btn-absent::before
{
    content: "\f273"; /* https://fontawesome.com/icons/calendar-xmark?f=classic&s=solid */
}

/* *************************************************************** */

/* Alternative buttons
**
** They act as regular buttons, but look different
** to visually identify them as second choice button.
*/
.btn-alt
{
    background-color: var(--white);
    color: var(--blue-orif);
}

/* *************************************************************** */

/* Others buttons
**
** Only the icon is added.
*/
.btn-back::before
{
    content: "\f04a"; /* https://fontawesome.com/icons/backward?f=classic&s=solid */
}

.btn-last-week::before
{
    content: "\f177"; /* https://fontawesome.com/icons/arrow-left-long?f=classic&s=solid */
}

.btn-next-week::after
{
    content: "\f178"; /* https://fontawesome.com/icons/arrow-right-long?f=classic&s=solid */
}

.btn-continue::after
{
    content: "\f138"; /* https://fontawesome.com/icons/circle-chevron-right?f=classic&s=solid */
}

/* Because the icon is on the right, spacing is on the right. */
.btn-next-week span, .btn-continue span
{
    padding: 0 5px 0 0;
}

.btn-presences::before
{
    content: "\f017"; /* https://fontawesome.com/icons/clock?f=classic&s=solid */
}

.btn-holidays::before
{
    content: "\f073"; /* https://fontawesome.com/icons/calendar-days?f=classic&s=solid */
}

.btn-terminal::before
{
    content: "\f26c"; /* https://fontawesome.com/icons/tv?f=classic&s=solid */
}

.btn-terminal span
{
    padding: 0 5px;
}

.btn-shift-weeks::before
{
    content: "\f049"; /* https://fontawesome.com/icons/backward-fast?f=classic&s=solid */
}

.btn-generate-planning::before, .btn-shift-weeks-with-planning-generation::before
{
    content: "\f271"; /* https://fontawesome.com/icons/calendar-plus?f=classic&s=solid */
}

.btn-target-new-window::after
{
    content: "\f35d"; /* https://fontawesome.com/icons/up-right-from-square?f=classic&s=solid */
}

.btn-target-new-window span
{
    padding: 0 5px;
}

/* *************************************************************** */

@media screen and (max-width: 525px)
{
    /*
     * Reduces buttons sizes by removing text
     *
     */
    .btn-add span, .btn-edit span, .btn-save span, .btn-reset span, .btn-back span, #add-holiday .btn-delete span, .btn-delete span
    {
        padding: 0;
        margin: 0;
        display: none;
    }

    /*
     * Exceptions
     *
     */
    nav .btn-back span, #add-holiday .btn-back span, #confirm-action .btn-back span, .delete-planning-option span, .dashboard-card .btn span
    {
        padding: 0 0 0 5px;
        display: inline;
    }
}