.custom-alert
{
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 12%;
	right: 4%;
	width: fit-content;
	z-index: 2;
	user-select: none;
	pointer-events: none;
}

.custom-alert i
{
	color: var(--black);
	font-size: 1.5em;
	margin-right: 10px;
}

.fade
{
	animation: fadeOut 4s forwards;
}

/* Fade animation */
@keyframes fadeOut
{
	0% { opacity: 1; }
	80% { opacity: 1; }
	100% { opacity: 0; display: none;}
}

@media screen and (max-width: 720px)
{
	.custom-alert
	{
		flex-direction: column;
		margin: 0 auto;
		left: 0;
		right: 0;
	}

	.custom-alert i
	{
		font-size: 2em;
		margin-right: 0;
		margin-bottom: 10px;
	}

	.custom-alert span
	{
		text-align: center;
	}
}