h2
{
    text-align: center;
    border-top: 5px solid var(--blue-orif);
    border-bottom: 5px solid var(--blue-orif);
    border-radius: 5px;
    width: fit-content;
    padding: 10px calc(15px + 8%);
    margin: 0.66rem auto 0.66rem auto;
}

@media screen and (max-width: 525px) 
{
    h2
    {
        font-size: 1.25rem;
        padding: 10px 5%;
    }
}