nav
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0.66rem;
}

nav a
{
    width: max-content;
    margin: 5px;
}

.nw-planning-nav
{
    width: fit-content;
    padding: 0.66rem 0;
    border-top: 2px solid var(--light-gray);
    margin: 0 auto;
}

@media screen and (max-width: 450px)
{
    nav
    {
        width: fit-content;
        margin: 1rem auto;
    }

    nav a
    {
        width: 100%;
    }
}