*
{
    cursor: none;
    user-select: none;
}

#login-bar, hr, div[class='alert alert-warning text-center'], #toolbarContainer, 
#reload-page-data, #img-link-data
{
    display: none;
}

::-webkit-scrollbar
{
    width: 0;
}

.terminal-display
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.no-click 
{
    pointer-events: none;
}

.preview-filter 
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(185, 185, 185, 0.4);
    z-index: 10;
    cursor: default;
}

.preview-text 
{
    position: fixed;
    top: 1%;
    width: fit-content;
    padding: 10px;
    border-radius: 2px;
    background-color: rgba(185, 185, 185, 0.6);
    font-size: 20px;
    pointer-events: none;
}

.preview-text-left 
{
    left: 1%;
}

.preview-text-right 
{
    right: 1%;
}

.technician-sheet, .technician-sheet:hover
{
    align-items: center;
    position: relative;
    flex-direction: column;
    background-color: var(--lighter-gray);
    width: 350px;
    height: 530px;
    margin: 15px;
    text-decoration: none;
    color: var(--black);
}

.role, .identity
{
    font-size: 1.5em;
    margin: auto;
}

.role
{
    position: absolute;
    top: 0;
    text-align: center;
    width: 100%;
}

.terminal-display img
{
    margin: 100px 0 15px 0;
    width: 305px;
    height: 305px;
    border: 2px solid var(--gray);
    border-radius: 50%;
    pointer-events: none;
}
 
.no-technician
{
    position: fixed;
    top: 49%;
    text-align: center;
    font-size: 2em;
    color: var(--white);
    font-weight: bold;
    background-color: var(--red);
    border-radius: 10px;
    padding: 3px 15px;
    z-index: 2;
    margin: 0 30px;
}

.unavailable
{
    transform: scale(0.9);
    filter: opacity(30%);
}

.unavailable *
{
    filter: grayscale(100%);
}

.unavailable-text
{
    font-weight: bold;
    background-color: var(--light-gray);
    padding: 10px;
    border-radius: 5px;
    font-size: 2em;
    position: absolute;
    z-index: 1;
}

.hidden
{
    display: none !important;
}

.auto-refresh-timer
{
    width: 100%;
    height: 0;
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 7%;
    user-select: none;
}

span
{
    font-weight: bold;
    font-size: 1.15em;
}

/*
** Applies special behaviors on bigger screens
*/
@media screen and (min-width: 1850px) and (min-height: 1025px)
{
    .unavailable-text
    {
        scale: 1.2;
    }

    .technician-sheet, .technician-sheet:hover
    {
        scale: 1.6;
        margin: 0 130px;
    }

    .no-technician
    {
        scale: 2.8;
    }
}

/*
** Terminal display on mobile devices
*/
@media screen and (max-width: 1150px)
{
    .terminal-display
    {
        height: fit-content;
        flex-direction: column;
    }

    .auto-refresh-timer
    {
        height: min-content;
        width: fit-content;
        margin: auto;
        left: 0;
        right: 0;
    }

    .auto-refresh-timer p
    {
        background-color: var(--light-gray);
        border-radius: 8px;
        padding: 8px;
    }

    .no-technician
    {
        font-size: 1.5em;
        margin: 0 30px;
    }

    .preview-text-left, .preview-text-right
    {
        margin: auto;
        left: 0;
        right: 0;
    }
    
    .preview-text-right
    {
        top: 92vh;
    }
}

@media screen and (max-width: 400px)
{
    .technician-sheet, .technician-sheet:hover
    {
        width: 80%;
        height: fit-content;
    }

    .role, .no-technician
    {
        font-size: 1em;
    }

    .unavailable-text
    {
        font-size: 1.5em;
        margin-bottom: -30px;
    }

    .technician-sheet img
    {
        width: 150px;
        height: 150px;
    }
}